@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates:wght@400;700&family=Montserrat+Subrayada:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  background-color: #ec4c8a;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #ec4c8a;
}

.headerp,
.mostAffected {
  font-weight: bold;
  font-size: 16px;
}

.form {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.input {
  width: 90%;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  word-spacing: 3px;
}

.titleBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img {
  padding-left: 1rem;
  opacity: 0.4;
}

.img img {
  width: 100%;
  height: 100%;
}

.mostAffectedContinent,
.countryConfirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.75rem;
}

.continent,
.countrydetail {
  margin-bottom: 5px;
  font-size: 18px;
}

.numberOfAffected,
.confirmDetail {
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
}

.continent,
.numberOfAffected {
  align-self: flex-start;
}

.countries {
  background-color: #cf4278;
}

.titleh5,
.titleh4 {
  margin: 0;
  padding: 2px 0 2px 10px;
  font-size: 12px;
  word-spacing: 3px;
}

.country {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.eachCountry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 5px;
  background-color: #ec4c8a;
}

.eachCountry:nth-child(3n+0) {
  background-color: #cf4278;
}

.eachCountry:nth-child(2) {
  background-color: #cf4278;
}

.countrydetail,
.confirmDetail {
  align-self: flex-end;
}

.links,
.homeLinks {
  border: 2px solid #fff;
  text-decoration: none;
  margin-top: 2px;
  padding: 1px;
  color: #fff;
  font-weight: lighter;
  font-size: 12px;
  border-radius: 100%;
}

.homeLinks {
  border: none;
  font-size: 16px;
}

.nameNum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.details {
  height: 100vh;
  padding: 1rem;
}

.countryConfirmed {
  height: 20vh;
  margin-bottom: 0;
}

.countryName,
.numAffected {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.numAffected {
  font-size: 12px;
  align-self: flex-end;
}

.countryDetails {
  background-color: #cf4278;
  padding-top: 12px;
}

.titleh4 {
  background-color: #ec4c8a;
  padding: 10px;
}

.allDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec4c8a;
  padding: 10px;
}

.allDetails:nth-child(2n+0) {
  background-color: #cf4278;
}
